
<div id="tm-course-rate-modal" class="modal fade"  data-url="@Url.RouteUrl(AppConstants.RouteNames.LearningPlanCourseSubscription)">
    <div class="modal-dialog modal-sm" style="width: 350px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Course Subscription</h4>
            </div>

            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>
