<div id="statistic-container">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#" data-token="">All Courses <span id="all-counter" class="label label-default">0</span></a>
        </li>
        <li role="presentation">
            <a href="#" data-token="plan">Planned <span id="planned-counter" class="label label-warning">0</span></a>
        </li>
        <li role="presentation">
            <a href="#" data-token="start">Started <span id="started-counter" class="label label-primary">0</span></a>
        </li>
        <li role="presentation">
            <a href="#" data-token="finish">Finished <span id="finished-counter" class="label label-success">0</span></a>
        </li>
    </ul>
</div>
