
@section Title{
    Learning Plan
}

<h2>Where are no courses in the learning plan.</h2>
<br/>
<p style="font-size: 1.3em;">
    You can add course to the learning plan from the @Html.RouteLink("course list", AppConstants.RouteNames.AllCourses),
    select one from the @Html.RouteLink("category list", AppConstants.RouteNames.AllCategories) or
    from the @Html.RouteLink("author list", AppConstants.RouteNames.AllAuthors).
</p>


